<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Physics Central Mirrors</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="titles">
            <div class="title">
                <h1>Physics Central Mirrors
               <span class="subtext-title">By Dr. Harlen James Matteson, HSRF</span>
            
                </h1>
            </div>
        </div>
    </body>
</html>
